<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/home']">Главная</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/shopcart']">Корзина</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/shopcart']">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span *ngIf="!getQuantity()">
              Корзина пуста
            </span>
            <span *ngIf="!!getQuantity()">
              Товаров в корзине: {{ getQuantity() }} <strong>Сумма: {{ getSumm() }}</strong>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="main">
  <router-outlet></router-outlet>
</main>
